.sign-up-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 8%;
    border: 5px black solid;
}

.sign-ups-inputs {
    width: 390px;
    margin: 1%;
    height: 20px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

#submit-sign-up {
    margin-top: 10px;
    background-color: lightgrey;
    border-radius: 5%;
    height: 25px;
}

#modal-content {
    display: flex;
    align-items: center;
}
