.all-spots-page {
    display: flex;
    font-family: monospace;
    background-color: rgb(39, 39, 39);
}

h1#header {
    text-align: center;
    font-family: monospace;
}

.spots-container {
    display: flex;
    align-items: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.spot-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    height: 410px;
    width: 350px;
    border: 2px solid lightgrey;
    margin: 40px;
    background-color: lightgrey;
    border-radius: 2%;
}

.spot-name-price {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:
                "name . review"
                "price . .";
}

#spot-name {
    grid-area: name;
    text-align: center;
}

.spot-review {
    grid-area: review;
    text-align: center;
}

#spot-price {
    grid-area: price;
}

a:visited,
a:visited {
    color: black;
}

a:hover {
    color: rgb(42, 4, 4);
}

#home {
    color: lightgrey;
}
