.spot-card {
    height: 200px;
    width: 400px;
    border: 2px solid black;
    margin: 10px;
}

.spots-container {
    display: flex;
    align-items: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

/* The following is not set in stone */
.spot-data {
    display: flex;
}
