.spot-details-page {
    font-family: monospace;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: lightgrey;
}

.images-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 700px;
}

.sub-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.spot-description-price-reserve {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                "owner . . . callout";
}

.callout-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-area: callout;
    border: 4px solid lightgrey;
    border-radius: 2%;
    background-color: lightgrey;
    color: black;
    
}

#reserve-button {
    font-family: monospace;
    background-color: rgb(240, 65, 65);
    border: rgb(240, 65, 65);
    border-radius: 5%;
}

hr {
    border: 1px solid lightgrey;

}
