.spot-details-page {
    display: flex;
    justify-content: center;
}

.spot-details {
    max-width: 1000px;
}

.spot-detail-images {
    width: 100%;
    height: 100%;
}

.images-container {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 100%;
}

.sub-images-container {
    display: grid;
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.spot-description-price-reserve {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.callout-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10% / 25%;
    width: 35%;
}

.spot-owner-description {
    width: 100%;
}

#callout-box-upper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

#price {
    margin-left: 1%;
}

#reserve-button {
    background-color: rgb(240, 65, 65);
    width: 80%;
    height: 30%;
    box-shadow: 3px 3px 0px black;
}

hr {
    border: 1px solid lightgrey;
}
