.all-spots-page {
    display: flex;
}

.spots-container {
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2%;
}

.spot-card {
    display: flex;
    height: 360px;
    width: 300px;
    margin: 25px;
}

.spot-data {
    display: flex;
}

.spot-name-price-div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#spot-name {
    text-align: start;
    margin-bottom: 3px;
}

#spot-price {
    text-align: start;
    margin-top: 3px;
}

.spot-review-div {
    display: flex;
    width: 15%;
}
#spot-review {
    width: 100%;
}

.spot-review {
    text-align: center;
}

.spot-image-main {
    border-radius: 8%;
}
