/* TODO Add site wide styles */

body {
    display: flex;
    justify-content: center;
}

#root {
    width: 93%;
    max-width: 1737px;
}

a:visited,
a:link {
    color: black;
    text-decoration: none;
}
