.hidden {display: none}

.full-nav-div {
    height: 9%;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-side-nav {
    display: flex;
    height: 100%;
    width: 50%;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
}

.right-side-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 20px;
    justify-content: flex-start;
    align-items: flex-end;
}

#home {
font-size: 350%;
margin: 20px;
color: red;
}

#profile-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 7%;
    font-size: 120%;
    border: 1px solid black;
    border-radius: 30%;
    background-color: white;
}

.profile-dropdown {
margin: 0%;
border: 1px solid black;
border-radius: 8%;
padding: 1%;
}

#log-in-button {
    border: none;
}
