/* .log-in-form {
    color: black;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


#login-submit {
    margin-left: 2px;
    font-family: monospace;
    background-color: rgb(240, 65, 65);
    border: rgb(240, 65, 65);
    border-radius: 5%;
}


#demo-button {
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    font-family: monospace;
    background-color: rgb(240, 65, 65);
    border: rgb(240, 65, 65);
    border-radius: 5%;
} */
