.log-in-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150%;
    background-color: white;
    padding: 15%;
}

.log-in-form {
    display: flex;
    flex-direction: column;
}

.email-password-input {
    margin: 5%;
}

#demo-button {
    border: none;
    text-decoration: underline;
    background-color: white;
    font-size: large;
    margin: 5%;
}
