.log-in-div {
    border-radius: 8%;
    border: 5px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    background-color: white;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.email-password-input {
    height: 25px;
    margin: 2%;
}

#demo-button {
    border: none;
    text-decoration: underline;
    background-color: white;
    font-size: large;
    margin: 5%;
}

#error-log-in-form{
    color: red;
}
